[user]
	name = Ichinose Yoshihiro
	email = maruisansmai@gmail.com
[push]
	default = current
[core]
	editor = nvim
	autocrlf = input
	whitespace = trailing-space
	pager = delta
  # 日本語文字化けの解消
  quotepath = false
[pager]
  diff = delta
  log = delta
  reflog = delta
  show = delta
[credential]
	helper = store --file /Volumes/TOSHIBA/.secrets/git/credentials
  helper = cache --timeout 3000
[interactive]
	diffFilter = delta --color-only
[delta]
	features = line-numbers decorations
	whitespace-error-style = 22 reverse
[delta "decorations"]
	commit-decoration-style = bold yellow box ul
	file-style = bold yellow ul
	file-decoration-style = none
[init]
	defaultBranch = main
[color]
	ui = true
[color "status"]
	added = green
	changed = red
	untracked = yellow
	unmerged = magenta
[advice]
	addIgnoreFile = false
[status]
	# 未追跡のファイルも表示する
	showUntrackedFiles = all
[fetch]
	prune = true
[rebase]
	autosquash = true
[difftool]
  prompt = false
[diff]
  tool = nvimdiff
[difftool "nvimdiff"]
  cmd = nvim -d "$LOCAL" "$REMOTE"
[commit]
	template = /Users/solenoid/.gitmessage
