*log
bin
vim/bundle
secret.d/

# fish
/fish/fish_variables
/fish/completions/*.fish
!/fish/completions/docker.fish
!/fish/completions/docker-compose.fish
/fish/conf.d/*.fish
/fish/functions/*.fish
# !/fish/functions/gcheck.fish
# !/fish/functions/gremote.fish
# !/fish/functions/npm_dump.fish
# !/fish/functions/npm_restore.fish
# !/fish/functions/reset_abbr.fish

# emacs
/emacs/transient/*
/emacs/straight/*
/emacs/auto-save-list/*
/emacs/elpa/*
/emacs/magithub/*
/emacs/.DS_Store
/emacs/.last-package-update-day
/emacs/.recentf
/emacs/projectile-bookmarks.eld
/emacs/projectile.cache
/emacs/history
/emacs/company-statistics-cache.el
