*log
bin
vim/bundle
secret.d/

# fish
/fish/fish_variables
/fish/completions/*.fish
!/fish/completions/docker.fish
!/fish/completions/docker-compose.fish
/fish/conf.d/*.fish
/fish/functions/**/*.fish
/fish/secrets.fish
# !/fish/functions/gcheck.fish
# !/fish/functions/gremote.fish
# !/fish/functions/npm_dump.fish
# !/fish/functions/npm_restore.fish
# !/fish/functions/reset_abbr.fish

# emacs
emacs/*
!emacs/init.el
!emacs/conf/*
!emacs/README.md
!emacs/org-roam.db
!emacs/history
