[user]
	name = mikan.ichinose
	email = maruisansmai@gmail.com
[push]
	default = current
[core]
	editor = nvim
  pager = delta
	autocrlf = input
[credential]
	helper = store
[interactive]
  diffFilter = delta --color-only
[delta]
  features = side-by-side line-numbers decorations
  whitespace-error-style = 22 reverse
[delta "decorations"]
  commit-decoration-style = bold yellow box ul
  file-style = bold yellow ul
  file-decoration-style = none
