*log
bin
vim/bundle
secret.d/

# fish
shell/fish/fish_variables
shell/fish/completions/**
!shell/fish/completions/docker.fish
!shell/fish/completions/docker-compose.fish
shell/fish/conf.d/**
shell/fish/functions/**
!shell/fish/functions/gcheck.fish
!shell/fish/functions/gremote.fish
!shell/fish/functions/npm_dump.fish
!shell/fish/functions/npm_restore.fish
!shell/fish/functions/reset_abbr.fish
