" plugin
Plug 'tpope/vim-surround'
Plug 'tpope/vim-commentary'

" setting
set notimeout timeoutlen=300
set clipboard=unnamed
set which-key
set easymotion
set ideajoin
let g:WhichKey_DefaultDelay = 0
let g:mapleader = "\<Space>"
" let g:maplocalleader = ","

" keymap
nnoremap gd :action GotoDeclaration<CR>
nnoremap gi :action GotoImplementation<CR>
nnoremap gs :action GotoSuperMethod<CR>
nnoremap gb :action Back<CR>
nnoremap gf :action Forward<CR>
" nnoremap <C-Left> :action Back<CR>
" nnoremap <C-Right> :action Forward<CR>
nnoremap <Leader>r :action RenameElement<CR>

" split window
nnoremap <Leader>- :split<CR>
nnoremap <Leader>\ :vsplit<CR>
" nnoremap <Leader>n <Cmd>nohlsearch<CR>
" move buffer
nnoremap <C-h> <C-w>h
nnoremap <C-j> <C-w>j
nnoremap <C-k> <C-w>k
nnoremap <C-l> <C-w>l
" better indent
nnoremap < <<
nnoremap > >>
" select mode
xnoremap r <C-v>
xnoremap v V

nnoremap ; :

" nnoremap <LocalLeader> <Plug>(eazymotion-prefix)
" nnoremap <Leader>1 1gt
" nnoremap <Leader>2 2gt
" nnoremap <Leader>3 3gt
" nnoremap <Leader>4 4gt
" nnoremap <Leader>5 5gt
" nnoremap <Leader>6 6gt
" nnoremap <Leader>7 7gt

" switch buffer
nnoremap <M-Right> :bn<CR>
nnoremap <M-Left> :bp<CR>

" nnoremap <Leader><C-r> :action InvalidateCaches<CR>
nnoremap <Leader><C-r> <Cmd>action RestartIde<CR>

" start app
nnoremap <Leader>ar <Cmd>action Run<CR>
" debug app
nnoremap <Leader>ad <Cmd>action Debug<CR>
" sync project
nnoremap <Leader>sp <Cmd>action Android.SyncProject<CR>
nnoremap <Leader>cc <Cmd>action Clean<CR>
nnoremap <Leader>cp <Cmd>action CleanGradleProject<CR>
" nnoremap <Leader>cp <Cmd>action RebuildGradleProject<CR>
