name: lint

on:
  push:
    branches:
      - master

jobs:
  lint-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: install dependencies
        uses: ludeeus/action-shellcheck@master
        env:
          SHELLCHECK_OPTS: -e SC1091
        with:
          scandir: './scripts'
          # format: gcc
