name: update
on:
  schedule:
    - cron: '0 0 * * *'
jobs:
  nix-update:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v6
        with:
          ref: main
          token: ${{ secrets.WORKFLOW_PAT }}
      - name: Setup nix
        uses: cachix/install-nix-action@v31
        with:
          nix_path: nixpkgs=channel:nixos-unstable
      - name: Setup git
        run: |
          git config --local user.name "GitHub Action"
          git config --local user.email "actions@github.com"
      - name: Update flake
        run: nix flake update
      - name: Format
        run: nix fmt
      - name: Commit changes
        run: |
          git add .
          git diff --cached --quiet && exit 0
          git commit -m "Update lockfile"
          git push origin HEAD
