name: update
on:
  schedule:
    - cron: '0 0 * * *'
jobs:
  nix-update:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      # Arrange
      - uses: actions/checkout@v6
        with:
          ref: main
          token: ${{ secrets.WORKFLOW_PAT }}
      - name: Setup nix
        uses: cachix/install-nix-action@v31
        with:
          nix_path: nixpkgs=channel:nixos-unstable
      - name: Setup git
        run: |
          git config --local user.name "GitHub Action"
          git config --local user.email "actions@github.com"
      # Act
      - name: Run node2nix
        run: |
          cd nix/node2nix/
          nix-shell -p nodePackages.node2nix --command "node2nix -i ./node-packages.json -o node-packages.nix"
      - name: Update flake
        run: nix flake update
      - name: Update gwq
        run: nix run nixpkgs#nix-update -- --flake --override-filename nix/packages/gwq/default.nix gwq || true
      - name: Format
        run: nix fmt
      - name: Commit changes
        run: |
          git add .
          git commit -m "Update lockfile"
          git push origin HEAD
